<div>
    <header class="bar bar-nav" style="position: relative;">
        <a class="pull-left" href="#/comboList/:{{cmb.SRVC_TP_ID}}" >
            <span class="icon icon-left-nav"></span>
        </a>
        <h1 class="title">详细信息</h1>
    </header>
    <ul class="table-view">
        <li class="table-view-cell cell-none" id="oneByOne" width="100%;">
            <img class="img-hero" src="{{'/public/images/combo/'+ cmb.CMB_PIC}}" id="oneByOne">
            <div style="z-index:100; position:relative; font-size:22px; padding:11px 15px; background-color:rgba(255,255,255,0.8); margin-top:-48px;">
                <span class="text-brand">￥{{cmb.CMB_PRC}}</span>
            </div>
        </li>
        <li class="table-view-cell cell-symmetric">
            <div>
                <label>{{cmb.CMB_NM}}</label>
                <span class="tag tag-alert">{{cmb.SRVC_TP_NM}}</span>
            </div>
            <div>
                <p class="text-lg text-gray-light">{{cmb.CMB_DSCRPT}}</p>
            </div>
        </li>
        <li class="table-view-cell cell-symmetric">
            <label class="text-xs text-gray-light">
                本品
            </label>
            <label class="pull-right text-xs text-gray-light">
                月售{{cmb.CMB_BGHT_TMS}}单
            </label>
        </li>
        <li class="table-view-cell cell-dim">
            <div class="pull-left text-xs" ng-repeat = "tag in Tags">
                <span class="icon icon-check text-brand"></span>
                <span class="text-gray-light">{{tag.TAG_NM}} &nbsp &nbsp &nbsp</span>
            </div>
        </li>
    </ul>
    <ul class="table-view">
        <li class="table-view-cell cell-symmetric">
            <span class="text-md">{{cmb.CMB_DTL}}</span>
        </li>
        <li class="table-view-cell cell-symmetric table-text-group">
            <label class="text-md">提供商: </label>
            <span class="text-md">{{Merchant.MRCHNT_NM}}</span>
        </li>
        <li class="table-view-cell cell-symmetric table-text-group">
            <label class="text-md">联系电话: </label>
            <span class="text-md">{{Merchant.MRCHNT_PHN}}</span>
        </li>
    </ul>
    <button class="btn-block btn-primary"
            ng-click="$parent.action.eventAnalytics('comboInfo','立即下单');
                    confirmCombo();">立即下单</button>
</div>