
.card-disabled {
    background-color: white !important;
    cursor: default;
    color: #555 !important; }
.card-disabled .card-price {
    color: #555 !important; }
.card-disabled .card-img {
    opacity: 0.2; }
.card-disabled:hover {
    border: none !important; }
.card-disabled:before {
    height: 100%;
    width: 100%;
    content: "服务即将开通";
    text-align: center;
    font-weight: bold;
    position: absolute;
    z-index: 100;
    background-color: rgba(35, 37, 63, 0.8);
    color: white;
    padding-top: 40px; }
