
.card-disabled {
    background-color: white !important;
    cursor: default;
    color: #555 !important; }
.card-disabled .card-price {
    color: #555 !important; }
.card-disabled .card-img {
    opacity: 0.2; }
.card-disabled:hover {
    border: none !important; }
.card-disabled:before {
    height: 320px;
    width: 100px;
    content: "服务暂停";
    font-weight: bold;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px 34px; }
