<div id="cartCustInfo" ng-controller="shipDetailCTLR">
    <form class="input-group">
        <div class="input-row">
            <label>数量:</label>
            <input type="number"  ng-model="$parent.cmb.AMNT"
                   ng-change="$parent.action.eventAnalytics('shipDetail','数量'); $parent.updatePayInDue();"/>
        </div>
        <div class="input-row">
            <label>收货人:</label>
            <input type="text" xlabel ng-transclude checker="isNotEmpty" checkee="receiver.RCVR_NM"
                   btn-pass="receiverError" placeholder="请填写收货人姓名" ng-model="receiver.RCVR_NM"
                   ng-change="$parent.action.eventAnalytics('shipDetail','收货人');"/>
        </div>
        <div class="input-row">
            <label>联系电话:</label>
            <input xlabel ng-transclude checker="isNotEmpty|isNumber" checkee="receiver.RCVR_PHN"
                   btn-pass="receiverError" type="number" placeholder="请填写电话号码" ng-model="receiver.RCVR_PHN"
                   ng-change="$parent.action.eventAnalytics('shipDetail','联系电话');"/>
        </div>
        <div class="input-row">
            <label>省份:</label>
            <select ng-model = "check.province"
                    ng-change = "updateProvince(check.province);"
                    ng-options="province as province.name for province in provinceNcity.province"
                    ng-change="$parent.action.eventAnalytics('shipDetail','省份');"/>
        </div>
        <div class="input-row">
            <label>城市:</label>
            <select ng-model = "check.city"
                    ng-change = "updateCity(check.city)"
                    ng-options="city as city.name for city in check.province.city"
                    ng-change="$parent.action.eventAnalytics('shipDetail','城市');" />
        </div>
        <div class="input-row">
            <label>区县:</label>
            <select ng-model = "check.area"
                    ng-change = "updateArea(check.area)"
                    ng-options="area as area.name for area in check.city.area"
                    ng-change="$parent.action.eventAnalytics('shipDetail','区县');"/>
        </div>
        <div class="input-row" style="border-bottom:none;">
            <label>详细地址:</label>
            <textarea rows="3" type="text" xlabel ng-transclude checker="isNotEmpty" placeholder="街道或小区及门牌号"
                      checkee="receiver.blockAddress" btn-pass="receiverError" ng-model="receiver.blockAddress"
                      ng-focus="$parent.action.eventAnalytics('shipDetail','详细地址');"/></textarea>
        </div>
    </form>
</div>
